<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 col-sm-12 pt-3">
            <div class="QNQTitle">
                QNQ Minds Trading Classes 
            </div>
            <div class="tagLine">
                Trade with confidence, Grow with peace..
            </div>
            <div style="    margin-top: 12px;
    font-style: italic;">

                <b>Our Vision:</b>
                To help every trader develop confidence, clarity, and control so they make decisions without fear
                We aim to build not just traders, but stable, sensible, and self-aware market warriors
            </div>

        </div>

        <!-- Right Column -->
        <div class="col-md-6 col-sm-12 mt-3">
           <div class="border rounded shadow-md courseCard" style=" border: 3px solid #ea8113 !important;">
                <div class="row mb-1 align-items-start p-3 ">
                    <div class="col-md-8 col-sm-12">


                    <span class="fw-bold" style="font-size: 16px;">Course Name: Brush Up Course
                        <!-- <span class="blink-text">Free Course</span> -->
                    </span>
                    <div class="text-muted small">
                        Mindset in Market Brush-Up Course by QNQ Share Market
                    </div>
                    <div><b>Price: <span style=" text-decoration: line-through;">₹3000</span><span
                                class="ms-2 blink-text" style="font-size: 16px !important;">Free</span></b></div>
                                <div>
                            📅 Duration: <b>5 Days(1 Hour Daily)</b>

                        </div>
                        <div>🌐 Language: <b>Marathi/Hindi/English</b>
                        </div>
                        <div>🏠 Available: <b>Offline & Online</b></div>
                    </div>
                    <div class="col-md-4 col-sm-12" style="display: flex; justify-content: center; align-items: center;">


                        <!-- <iframe width="170" height="140" src="https://www.youtube.com/embed/O8M-oCQV4lM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe> -->
                        <img src="assets/images/video-icon-image.jpg" alt="video" style="height: 205px;">

                    </div>

                </div>
                <hr>
                <div class="mb-3 align-items-start" style="padding: 0 15px;">

                    <div>
                        <b>What You'll Learn:</b>
                        <ul>
                            <li>Developing a strong trader’s mindset.
                            </li>
                            <li>How to see the market with a fresh perspective.</li>
                            <li>Replacing bad trading habits with powerful thought patterns.</li>
                            <li>Basic theoretical concepts every trader must know.</li>
                            <li>Light practical approach to observing market behavior.</li>
                        </ul>
                    </div>

                    <div class="pe-3 registerDiv mt-2">
                    <button type="button" class="registerButton" (click)="register()" style="width: 50% !important">Register</button>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>