<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 col-sm-12 pt-3">
            <div class="QNQTitle">
                QNQ Monk Trading Classes 
            </div>
            <div class="tagLine">
                Trade with confidence, Grow with peace...
            </div>
            <div style="    margin-top: 12px;
    font-style: italic;">

                <b>Our Vision:</b>
                To help every trader develop confidence, clarity, and control so they make decisions without fear
                We aim to build not just traders, but stable, sensible, and self-aware market warriors
            </div>

        </div>

        <!-- Right Column -->
        <div class="col-md-6 col-sm-12">
            <div class="border rounded shadow-md" style="    border: 3px solid #ea8113 !important;">
                <div class="row mb-1 align-items-start p-3 ">
                    <div class="col-8">
                        <span class="fw-bold" style="font-size: 17px;">Course Name: Brush Up Course
                            <span class="blink-text">Free Course</span>
                        </span>
                        <div class="text-muted small">
                            5-Day Market Mindset Brush-Up Course by QNQ Share Market
                        </div>
                        <div style="font-size: 13px;
    line-height: 15px;">
                            Join to build your foundation before going technical.
                            A unique course designed to rewire your thinking and help you approach the market with the
                            right mindset and habits. Perfect for those who have faced losses or confusion in trading
                            and want to restart with clarity and confidence.
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="mb-1 border rounded shadow-sm p-3">
                            Video
                        </div>

                        <button type="button" class="btn registerButton">Register</button>
                    </div>
                </div>
                <div class="mb-3 align-items-start" style="padding: 0 15px;">

                    <div>
                        <b>What You'll Learn:</b>
                        <ul>
                            <li>Developing a strong trader’s mindset 🧘‍♂️
                            </li>
                            <li>How to see the market with a fresh perspective 👁️</li>
                            <li>Replacing bad trading habits with powerful thought patterns 💭</li>
                            <li>Basic theoretical concepts every trader must know 📚</li>
                            <li>Light practical approach to observing market behavior 📊</li>
                        </ul>

                        <div>
                            📅 Duration: <b>5 Days</b>

                        </div>
                        <div>🕐 Time: <b>1 Hour Daily</b>
                        </div>
                        <div>🎥 Mode: <b>Free Recorded Sessions</b>
                        </div>
                        <div>🌐 Language: <b>Hindi + English (Hinglish Style)</b>
                        </div>
                        <div>🏠 Available: <b>Both Offline & Online</b></div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>