<div class="container mt-3 pb-3">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="border rounded shadow-md courseCard">
                <div class="row mb-1 align-items-start p-3 ">
                    <div class="col-12">

                        <iframe width="320" height="200" src="https://www.youtube.com/embed/O8M-oCQV4lM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>

                    </div>
                </div>
                <hr>
                <div class="px-3">

                    <span class="fw-bold" style="font-size: 16px;">Course Name: Brush Up Course
                        <span class="blink-text">Free Course</span>
                    </span>
                    <div class="text-muted small">
                        Mindset in Market Brush-Up Course by QNQ Share Market
                    </div>
                    <div><b>Price: <span style=" text-decoration: line-through;">₹3000</span><span
                                class="ms-2 blink-text" style="font-size: 16px !important;">Free</span></b></div>
                    <div>
                        📅 Duration: <b>5 Days(1 Hour Daily)</b>

                    </div>
                    <div>🌐 Language: <b>Marathi/Hindi/English</b>
                    </div>
                    <div>🏠 Available: <b>Offline & Online</b></div>
                </div>
                <div class="pe-3 registerDiv mt-2">
                    <button type="button" class="registerButton" style="width: 50% !important" (click)="register()">Register</button>
                </div>
                <hr>
                <div class="mb-3 align-items-start" style="padding: 0 15px;">

                    <div>
                        <b>What You'll Learn:</b>
                        <ul>
                            <li>Developing a strong trader’s mindset 🧘‍♂️
                            </li>
                            <li>How to see the market with a fresh perspective 👁️</li>
                            <li>Replacing bad trading habits with powerful thought patterns 💭</li>
                            <li>Basic theoretical concepts every trader must know 📚</li>
                            <li>Light practical approach to observing market behavior 📊</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="border rounded shadow-md courseCard">
                <div class="row mb-1 align-items-start p-3 ">
                    <div class="col-12">
                        <iframe width="320" height="200" src="https://www.youtube.com/embed/O8M-oCQV4lM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>


                    </div>
                </div>
                <hr>
                <div class="px-3">

                    <span class="fw-bold" style="font-size: 16px;">Course Name: Basic to Advance Course</span>

                    <div class="text-muted small">
                        Market Basic to Advance Course by QNQ Share Market
                    </div>
                    <div><b>Price: <span style=" text-decoration: line-through;">₹6000</span><span class="ms-2"
                                style="font-size: 16px !important;">₹3000</span></b></div>
                    <div>
                        📅 Duration: <b>15 Days(1 Hour Daily)</b>

                    </div>
                    <div>🌐 Language: <b>Marathi/Hindi/English</b>
                    </div>
                    <div>🏠 Available: <b>Offline & Online</b></div>
                </div>
                <div class="pe-3 registerDiv mt-2">
                    <button type="button" class="registerButton" (click)="register()" style="width: 50% !important">Register</button>
                </div>
                <hr>
                <div class="mb-3 align-items-start" style="padding: 0 15px;">
                    <div class="learn-wrapper">
                        <div id="learnContent" class="learn-section">
                            <b>What You'll Learn:</b>
                            <ul>
                                <li>Introduction Class on Mindset</li>
                                <li>Stock Market Introduction</li>
                                <li>Capital Market Structure</li>
                                <li>Financial Instruments</li>
                                <li>Trading & Demat Accounts</li>
                                <li>Fundamental Analysis - I</li>
                                <li>Technical Analysis - Basics</li>
                                <li>Technical Analysis - Advanced</li>
                                <li>Derivatives Introduction</li>
                                <li>Intraday Trading</li>
                                <li>Swing & Positional Trading</li>
                                <li>Portfolio Management</li>
                                <li>Regulations & Taxation</li>
                                <li>Economic Indicators & Market Impact</li>
                                <li>Live Market Session</li>
                                <li>Trading Psychology (Mindset Programme)</li>
                            </ul>

                            <div class="fade-gradient" id="fadeEffect"></div>
                        </div>

                        <span class="show-toggle" (click)="toggleLearnSection()" id="toggleBtn">Show More</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="border rounded shadow-md courseCard">
                <div class="row mb-1 align-items-start p-3 ">
                    <div class="col-12">
                        <iframe width="320" height="200" src="https://www.youtube.com/embed/O8M-oCQV4lM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>


                    </div>
                </div>
                <hr>
                <div class="px-3">

                    <span class="fw-bold" style="font-size: 16px;">Course Name: Ultimate Trading Mastery</span>

                    <div class="text-muted small">
                        Ultimate Trading Mastery Course by QNQ Share Market
                    </div>
                    <div><b>Price: <span style=" text-decoration: line-through;">₹9000</span><span class="ms-2"
                                style="font-size: 16px !important;">₹6000</span></b></div>
                    <div>
                        📅 Duration: <b>30 Days(1 Hour Daily)</b>

                    </div>
                    <div>🌐 Language: <b>Marathi/Hindi/English</b>
                    </div>
                    <div>🏠 Available: <b>Offline & Online</b></div>
                </div>
                <div class="pe-3 registerDiv mt-2">
                    <button type="button" class="registerButton" (click)="register()" style="width: 50% !important">Register</button>
                </div>
                <hr>
                <div class="mb-3 align-items-start" style="padding: 0 15px;">
                    <div class="learn-wrapper">
                        <div id="learnContentCourse3" class="learn-section">
                            <b>What You'll Learn:</b>
                            <ul>
                                <li>Advanced Technical Analysis</li>
                                <li>Fundamental Analysis</li>
                                <li>Trading Strategies</li>
                                <li>Risk Management</li>
                                <li>Portfolio Management</li>
                                <li>Options & Derivatives</li>
                                <li>Market Structure & Microstructure</li>
                                <li>Financial Statements & Ratio Analysis</li>
                                <li>Economic & Industry Analysis</li>
                                <li>Trading Psychology / Mindset Training</li>
                                <li>Intraday, Swing & Positional Trading</li>
                                <li>Chart Patterns & Price Action</li>
                                <li>Volume Analysis</li>
                                <li>Stop Loss & Risk-Reward Calculation</li>
                                <li>Live Market Practice & Backtesting</li>
                                <li>Event & Data Analysis</li>
                                <li>Order Types (Stop loss, Bracket orders, etc.)</li>
                                <li>Capital Protection & Loss Prevention</li>
                                <li>Goal Setting & Trading Discipline</li>
                            </ul>

                            <div class="fade-gradient" id="fadeEffectCourse3"></div>
                        </div>
                        <span class="show-toggle" (click)="toggleLearnSectionCourse3()" id="toggleBtnCourse3">Show More</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>