<div class="container mt-3 pb-3">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="border rounded shadow-md courseCard">
                <div class="row mb-1 align-items-start p-3 ">
                    <div class="col-12">

                        <iframe width="320" height="200" src="https://www.youtube.com/embed/O8M-oCQV4lM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>

                    </div>
                </div>
                <hr>
                <div class="px-3">

                    <span class="fw-bold" style="font-size: 16px;">Course Name: Brush Up Course
                        <span class="blink-text">Free Course</span>
                    </span>
                    <div class="text-muted small">
                       Mindset in Market Brush-Up Course by QNQ Share Market
                    </div>
                    <div><b>Price: <span style=" text-decoration: line-through;">₹3000</span><span
                                class="ms-2 blink-text" style="font-size: 16px !important;">Free</span></b></div>
                                <div>
                            📅 Duration: <b>5 Days(1 Hour Daily)</b>

                        </div>
                        <div>🌐 Language: <b>Marathi/Hindi/English</b>
                        </div>
                        <div>🏠 Available: <b>Offline & Online</b></div>
                </div>
                <div class="pe-3 registerDiv mt-2">
                    <button type="button" class="registerButton" style="width: 50% !important">Register</button>
                </div>
                <hr>
                <div class="mb-3 align-items-start" style="padding: 0 15px;">

                    <div>
                        <b>What You'll Learn:</b>
                        <ul>
                            <li>Developing a strong trader’s mindset 🧘‍♂️
                            </li>
                            <li>How to see the market with a fresh perspective 👁️</li>
                            <li>Replacing bad trading habits with powerful thought patterns 💭</li>
                            <li>Basic theoretical concepts every trader must know 📚</li>
                            <li>Light practical approach to observing market behavior 📊</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="border rounded shadow-md courseCard">
                <div class="row mb-1 align-items-start p-3 ">
                    <div class="col-12">
                        <iframe width="320" height="200" src="https://www.youtube.com/embed/O8M-oCQV4lM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>


                    </div>
                </div>
                <hr>
                <div class="px-3">

                    <span class="fw-bold" style="font-size: 16px;">Course Name: Basic to Advance Course</span>

                    <div class="text-muted small">
                        Market Basic to Advance Course by QNQ Share Market
                    </div>
                    <div><b>Price: <span style=" text-decoration: line-through;">₹6000</span><span class="ms-2"
                                style="font-size: 16px !important;">₹3000</span></b></div>
                                <div>
                            📅 Duration: <b>15 Days(1 Hour Daily)</b>

                        </div>
                        <div>🌐 Language: <b>Marathi/Hindi/English</b>
                        </div>
                        <div>🏠 Available: <b>Offline & Online</b></div>
                </div>
                <div class="pe-3 registerDiv mt-2">
                    <button type="button" class="registerButton" style="width: 50% !important">Register</button>
                </div>
                <hr>
                <div class="mb-3 align-items-start" style="padding: 0 15px;">

                    <div>

                        <b>What You'll Learn:</b>
                        <ul>
                            <li><b>Stock Market Fundamentals </b><br>
                                <span class="subSyllabus">– What is a stock, equity, index and how the market works
                                    📊</span>
                            </li>
                            <li><b>Market Mechanics & Timing</b><br>
                                <span class="subSyllabus">– Market hours, trading sessions, order types</span>
                            </li>
                            <li><b>Candlestick Patterns & Interpretation</b><br>
                                <span class="subSyllabus">– Basic Japanese candles and their psychology 🕯️</span>
                            </li>
                            <li><b>Price Action & Support‑Resistance Zones</b><br>
                                <span class="subSyllabus">– Identify key levels and price behavior 📈</span>
                            </li>
                            <li><b>Introduction to Futures & Options (Derivatives)</b><br>
                                <span class="subSyllabus">– Basics, use-cases, and trade mechanics ⚙️</span>
                            </li>
                            <li><b>Trading Structure Strategy</b><br>
                                <span class="subSyllabus">– Our proprietary framework to structure entries/exits</span>
                            </li>
                            <li><b>Technical Analysis Essentials</b><br>
                                <span class="subSyllabus">– Indicators, chart patterns, trend analysis 🔍</span>
                            </li>
                            <li><b>Trade Account Setup & Operation</b><br>
                                <span class="subSyllabus">– How to open, fund & place orders in your trading account
                                    🧾</span>
                            </li>
                            <li><b>Multi‑Time Frame Analysis</b><br>
                                <span class="subSyllabus">– Combining timeframes for better trade decisions ⏱️</span>
                            </li>
                            <li><b>Risk Management & Position Sizing</b><br>
                                <span class="subSyllabus">– 1% rule, stop-loss, take-profit, hedging strategies</span>
                            </li>
                            <li><b>Trading Psychology & Behavioral Biases</b><br>
                                <span class="subSyllabus">– Overconfidence, FOMO, loss aversion etc.</span>
                            </li>
                            <li><b>Trade Planning & Journal Setup</b><br>
                                <span class="subSyllabus">– Plan before trading, review afterwards</span>
                            </li>
                            <li><b>Building Your Personal Trading Strategy</b><br>
                                <span class="subSyllabus">– Combine all learnings into your usable strategy</span>
                            </li>
                            <li><b>Live Market Demos & Practice</b><br>
                                <span class="subSyllabus">– Watch real-time market behavior and applied theory 🎥</span>
                            </li>
                            <li><b>Doubt‑Clearing & Trade Review Session</b><br>
                                <span class="subSyllabus">– Interactive Q&A, trade logs review 🤝</span>
                            </li>
                            <li><b>Bonus: Portfolio Management & Scaling Up</b><br>
                                <span class="subSyllabus">– Diversification, risk-adjusted growth paths</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="border rounded shadow-md courseCard">
                <div class="row mb-1 align-items-start p-3 ">
                    <div class="col-12">
                        <iframe width="320" height="200" src="https://www.youtube.com/embed/O8M-oCQV4lM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>


                    </div>
                </div>
                <hr>
                <div class="px-3">

                    <span class="fw-bold" style="font-size: 16px;">Course Name: Ultimate Trading Mastery</span>

                    <div class="text-muted small">
                        Ultimate Trading Mastery Course by QNQ Share Market
                    </div>
                    <div><b>Price: <span style=" text-decoration: line-through;">₹9000</span><span class="ms-2"
                                style="font-size: 16px !important;">₹6000</span></b></div>
                                <div>
                            📅 Duration: <b>30 Days(1 Hour Daily)</b>

                        </div>
                        <div>🌐 Language: <b>Marathi/Hindi/English</b>
                        </div>
                        <div>🏠 Available: <b>Offline & Online</b></div>
                </div>
                <div class="pe-3 registerDiv mt-2">
                    <button type="button" class="registerButton" style="width: 50% !important">Register</button>
                </div>
                <hr>
                                <div class="mb-3 align-items-start" style="padding: 0 15px;">
                    <div>
                        
                        <b>What You'll Learn:</b>
                        <ul>
                            <li><b>Market Basics Refresher</b><br>
                                <span class="subSyllabus">– Equity, indices, order types, candlesticks 🕯</span>
                            </li>
                            <li><b>Advanced Price Action Techniques</b><br>
                                <span class="subSyllabus">– Support and Resistance, Pullbacks, Breakouts, Candlestick
                                    Patterns</span>
                            </li>
                            <li><b>Advanced Support & Resistance Framework</b><br>
                                <span class="subSyllabus">– Important zones, round levels, institution buying
                                    areas</span>
                            </li>
                            <li><b>Professional Trader Mindset Training</b><br>
                                <span class="subSyllabus">– Discipline, consistency, emotional control, gaining
                                    edge</span>
                            </li>
                            <li><b>Market Microstructure & Volume Analysis</b><br>
                                <span class="subSyllabus">– Understanding liquidity, market depth & flow</span>
                            </li>
                            <li><b>Live Trading Sessions</b><br>
                                <span class="subSyllabus">– Participate & observe live intraday & swing trade setups
                                    📈</span>
                            </li>
                            <li><b>Trade Planning & Real-Time Journal</b><br>
                                <span class="subSyllabus">– Plan/manage/review trades + emotion check</span>
                            </li>
                            <li><b>Risk Management & Capital Preservation</b><br>
                                <span class="subSyllabus">– Position sizing, hedging, stop logic, drawdown
                                    control</span>
                            </li>
                            <li><b>Multi-Timeframe Analysis & Trade Timing</b><br>
                                <span class="subSyllabus">– 1m → Daily sync for perfect entry</span>
                            </li>
                            <li><b>Constructing a Customized Strategy</b><br>
                                <span class="subSyllabus">– Combine structure, risk, timeframes & mindset</span>
                            </li>
                            <li><b>Scale Up in Risk & Quantity</b><br>
                                <span class="subSyllabus">– Adjust size, track performance, grow equity</span>
                            </li>
                            <li><b>Doubt Clearing & Strategy Review</b><br>
                                <span class="subSyllabus">– Q&A, trade reviews, refinement</span>
                            </li>
                            <li><b>Bonus: Trading Tech & Tools</b><br>
                                <span class="subSyllabus">– Platforms, alerts, stock selection</span>
                            </li>
                            <li><b>Final Mock Live Trading Day</b><br>
                                <span class="subSyllabus">– Full-day supervised simulation</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>