<section id="about" class="about-section">
  <div class="container">
    <h2 class="section-title" data-aos="fade-down">Zero to Hero Course</h2>
    <h4 class="section-subtitle" data-aos="fade-up">(15 DAYS) – WITH LIVE SESSION</h4>

    <div class="course-content">
      <div class="course-box fade-right">
        <h5>Day 1: Stock Market Introduction</h5>
        <ul>
          <li>Stock market basics & market structure</li>
          <li>NSE, BSE, Sensex, Nifty overview</li>
        </ul>
      </div>

      <div class="course-box fade-right">
        <h5>Day 2: Capital Market Structure</h5>
        <ul>
          <li>Primary vs Secondary market</li>
          <li>IPOs, FPOs, market participants</li>
          <li>Which IPO should I invest</li>
        </ul>
      </div>

      <div class="course-box fade-right">
        <h5>Day 3: Financial Instruments</h5>
        <ul>
          <li>Shares, Bonds, Mutual Funds</li>
          <li>Derivatives, Commodities, Currency market</li>
        </ul>
      </div>

      <div class="course-box fade-right">
  <h5>Day 4: Trading & Demat Account</h5>
  <ul>
    <li>Account opening procedures</li>
    <li>Types of brokers, order types, Intro to trading platforms</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 5: Fundamental Analysis – Part 1</h5>
  <ul>
    <li>Financial statements (Balance Sheet, P&L, Cash Flow, PE ratio)</li>
    <li>Key ratios, Company & Sector analysis</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 6: Technical Analysis – Basics</h5>
  <ul>
    <li>Chart types: Candlestick, Line, Bar</li>
    <li>Candlestick patterns, formation</li>
    <li>Support & Resistance, Trend line, Pullback</li>
    <li>Demand & Supply Zone</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 7: Technical Analysis – Advanced</h5>
  <ul>
    <li>Price Actions: Advance point is price action</li>
    <li>Indicators: Moving Average, RSI, MACD, Pivots</li>
    <li>Trend analysis, Volume analysis, Multi time frame analysis</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 8: Derivatives Introduction</h5>
  <ul>
    <li>Futures & Options basics, option chain, CE & PE</li>
    <li>Option Greeks, Simple strategies</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 9: Intraday Trading</h5>
  <ul>
    <li>Intraday strategies</li>
    <li>Risk management, Stop-loss, Position sizing, Checklist</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 10: Swing & Positional Trading</h5>
  <ul>
    <li>Swing trading concepts</li>
    <li>Positional strategies, Back test Data</li>
    <li>Portfolio Management</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 11: Money management & Risk Reward</h5>
  <ul>
    <li>Risk Reward, Portfolio Management</li>
    <li>Asset allocation, Diversification</li>
    <li>Portfolio performance metrics</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 12: Trading Mindset & Psychology</h5>
  <ul>
    <li>Discipline, Emotional control, Accountability</li>
    <li>Dealing with losses & greed</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 13: Game of Probability & Regulation & Taxation</h5>
  <ul>
    <li>SEBI guidelines</li>
    <li>Taxation on trading & investment</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 14: Trading Goal</h5>
  <ul>
    <li>Trading Plan Writing daily / Monthly</li>
    <li>Journal maintaining</li>
    <li>Rituals During trades</li>
  </ul>
</div>

<div class="course-box fade-right">
  <h5>Day 15: Practical Session</h5>
  <ul>
    <li>Live market analysis (Trading Journal)</li>
    <li>Case studies, Trade placement practice</li>
  </ul>
</div>


      <div class="qr-box" data-aos="flip-up">
        <img src="./assets/image.png" alt="QR Code">
        <p class="whatsapp-number">9421675033</p>
      </div>
    </div>
  </div>
</section>