<div class="row">
    <div class="col-6">
        <div id="ola-map" class="map-container"></div>
    </div>
    <div class="col-6">

        <div class="form-container">
            <h2 class="text-center form-title mb-4">Contact Us</h2>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
                        required />
                </div>

                <div class="mb-3">
                    <label for="mobile" class="form-label">Mobile Number</label>
                    <input type="tel" class="form-control" id="mobile" name="mobile"
                        placeholder="Enter your mobile number" pattern="[0-9]{10}" required />
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="4" placeholder="Your message..."
                        required></textarea>
                </div>

                <button type="submit" class="btn btn-yellow w-100">Submit</button>
            </form>
        </div>
    </div>
</div>