<!-- ABOUT ME SECTION -->
<section class="offering-section fade-in-section">
    <div class="container">
        <div class="row align-items-center">

            <!-- Image First on Mobile, Second on Desktop -->
            <div class="col-md-6 order-1 order-md-2">
                <img src="assets/images/about-me.jpeg" alt="About Me" class="img-fluid rounded shadow" />
            </div>

            <!-- Content Second on Mobile, First on Desktop -->
            <div class="col-md-6 order-2 order-md-1">
                <h3 class="offering-title">About Me</h3>
                <p class="offering-desc">

                    I was once a confused trader too…
                    I understood charts, but not my emotions.
                    Every loss taught me one thing trading is not just about strategy, it's about mindset.

                    Today, I teach exactly that:
                    How to think during trades
                    How to build discipline
                    And how every trade becomes a lesson
                </p>
            </div>
        </div>
    </div>
</section>

<!-- CUSTOM SOFTWARE SECTION -->
<section class="offering-section fade-in-section">
    <div class="container">
        <div class="row align-items-center">

            <!-- Image First on Mobile and Desktop -->
            <div class="col-md-6 order-1 order-md-1">
                <img src="assets/images/our-mission.jpeg" alt="Custom Software" class="img-fluid rounded shadow" />
            </div>

            <!-- Content Second on Mobile and Desktop -->
            <div class="col-md-6 order-2 order-md-2">
                <h3 class="offering-title">Our Mission</h3>
                <p class="offering-desc">
                    To empower everyday people to become confident and independent traders by focusing not just on
                    technical skills, but on building the right mindset, discipline, and emotional strength.

                    <br>
                    <span>To empower everyday people to become confident and independent traders by focusing not just on
                        technical skills, but on building the right mindset, discipline, and emotional strength.</span>
                </p>
            </div>
        </div>
    </div>
</section>

