<section class="testimonials-section">
    <h2>What Our Students Say</h2>
    <div class="testimonials-container">

        <div class="testimonial-card">
            <!-- <img src="assets/testimonials/user1.jpg" alt="Rahul" /> -->
            <img h src="../../assets/image.png" href="../../assets/image.png" alt="QR Code" >
            <p>"The mentorship here is amazing! Live sessions cleared all my doubts."</p>
            <h4>- Rahul S.</h4>
        </div>

        <div class="testimonial-card">
            <img src="../../assets/image.png" href="../../assets/image.png" alt="QR Code" >
            <p>"Practical learning and lifetime support make it the best choice!"</p>
            <h4>- Priya K.</h4>
        </div>

        <div class="testimonial-card">
            <img src="../../assets/image.png" href="../../assets/image.png" alt="QR Code" >
            <p>"Certified trainers with real-world knowledge. Highly recommended."</p>
            <h4>- Ankit M.</h4>
        </div>

        <div class="testimonial-card">
            <img src="../../assets/image.png" alt="QR Code" >
            <p>"Loved the one-to-one mentorship and doubt clearing sessions."</p>
            <h4>- Sneha P.</h4>
        </div>

    </div>
</section>