.navbar {
  background-color: rgba(10,10,35,0.8);
  backdrop-filter: blur(10px);
  transition: background 0.4s ease;
  
  &.scrolled {
    background-color: rgba(10,10,35,1);
  }
}


.navbar .nav-item.active .nav-link {
  font-weight: bold;
  color: #ffc107 !important;
}
